body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    width: 800px;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    margin: 5px 0;
}
.large-image {
    width: 800px; 
    height: auto; 
}
